$navbar-height: 100px;
$color-white: #fff;
$color-black: #000;
$color-blue: #1D6394;
$color-blue-light: #90caf9;
$color-beige: #777;
$color-error: #bf0027;
$color-success: #4caf50;
$color-neutral: #FFBF00;