.pagination {
  padding-left: 1rem;
  display: flex;
  gap: 10px;
}

.pagination button {
  margin-right: 16px;
  padding: 1rem;
}

@media screen and (min-width: 1600px) {
  .pagination {
    margin: 20px auto;
  }
}