@let launchDetails = launchInfo();

@if (launchDetails) {
<mat-card>
  <mat-card-header>
    @if (launchDetails.links?.patch?.small) {
    <img [src]="launchDetails.links?.patch?.small" alt="Patch {{ launchDetails.name }}" class="patch-image" />
    }
    <mat-card-title>{{ launchDetails.name }} (Flight #{{ launchDetails.flight_number }})</mat-card-title>
    <mat-card-subtitle>{{ launchDetails.date_local | date: 'medium' }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      <strong>Status:</strong>
      <span [ngClass]="{
            success: launchDetails.success,
            failed: launchDetails.success === false
          }">
        {{
        launchDetails.success
        ? 'Success'
        : (launchDetails.success === false ? 'Failure' : 'Unknown')
        }}
      </span>
    </p>

    <p><strong>UTC Date:</strong> {{ launchDetails.date_utc | date: 'medium' }}</p>
    <p><strong>Local Date:</strong> {{ launchDetails.date_local | date: 'medium' }}</p>
    <p><strong>Date Precision:</strong> {{ launchDetails.date_precision }}</p>
    @if (launchDetails.static_fire_date_utc) {
    <p>
      <strong>Static Fire Test (UTC):</strong>
      {{ launchDetails.static_fire_date_utc | date: 'medium' }}
    </p>
    }

    <p><strong>TBD:</strong> {{ launchDetails.tdb ? 'Yes' : 'No' }}</p>
    <p><strong>NET:</strong> {{ launchDetails.net ? 'Yes' : 'No' }}</p>
    @if (launchDetails.window !== null) {
    <p><strong>Launch Window:</strong> {{ launchDetails.window }} sec</p>
    }
    @if (launchDetails.rocket) {
    <p><strong>Rocket ID:</strong> {{ launchDetails.rocket }}</p>
    }
    @if (launchDetails.launchpad) {
    <p><strong>Launchpad ID:</strong> {{ launchDetails.launchpad }}</p>
    }

    @if (launchDetails.cores?.length) {
    <div>
      <strong>Cores:</strong>
      <ul>
        @for (core of launchDetails.cores; track core.core) {
        <li>
          Core ID: {{ core.core }},
          Flights: {{ core.flight }},
          Reused: {{ core.reused ? 'Yes' : 'No' }},
          Landing:
          {{
          core.landing_success === true
          ? 'Success'
          : (core.landing_success === false ? 'Failure' : 'Unknown')
          }}
        </li>
        }
      </ul>
    </div>
    }

    @if (launchDetails.failures?.length) {
    <div>
      <strong>Failures:</strong>
      <ul>
        @for (fail of launchDetails.failures; track fail.time) {
        <li>
          Reason: {{ fail.reason }},
          Altitude: {{ fail.altitude ?? 'Unknown' }},
          Time: {{ fail.time }}s
        </li>
        }
      </ul>
    </div>
    }

    @if (launchDetails.fairings) {
    <div>
      <strong>Fairings:</strong>
      <p>Reused: {{ launchDetails.fairings.reused ? 'Yes' : 'No' }}</p>
      <p>Recovered: {{ launchDetails.fairings.recovered ? 'Yes' : 'No' }}</p>
    </div>
    }

    @if (launchDetails.crew?.length) {
    <p><strong>Crew:</strong> {{ launchDetails.crew!.join(', ') }}</p>
    }

    @if (launchDetails.capsules?.length) {
    <p><strong>Capsules:</strong> {{ launchDetails.capsules!.join(', ') }}</p>
    }

    @if (launchDetails.ships?.length) {
    <p><strong>Ships:</strong> {{ launchDetails.ships!.join(', ') }}</p>
    }

    @if (launchDetails.payloads?.length) {
    <p><strong>Payloads:</strong> {{ launchDetails.payloads!.join(', ') }}</p>
    }

    @if (launchDetails.details) {
    <p><strong>Details:</strong> {{ launchDetails.details }}</p>
    }

    @if (launchDetails.links?.article) {
    <div class="launch-details-link-container">
      <strong>Article:</strong>
      <a [href]="launchDetails.links!.article" target="_blank" rel="noopener noreferrer" class="launch-link-icon">
        <mat-icon>link</mat-icon>
      </a>
    </div>
    }

    @if (launchDetails.links?.wikipedia) {
    <div class="launch-details-link-container">
      <strong>Wikipedia:</strong>
      <a [href]="launchDetails.links!.wikipedia" target="_blank" rel="noopener noreferrer" class="launch-link-icon">
        <mat-icon>link</mat-icon>
      </a>
    </div>
    }

    @if (launchDetails.links?.webcast) {
    <div class="launch-details-link-container">
      <strong>Webcast:</strong>
      <a [href]="launchDetails.links!.webcast" target="_blank" rel="noopener noreferrer" class="launch-link-icon">
        <mat-icon>link</mat-icon>
      </a>
    </div>
    }
  </mat-card-content>

  <mat-card-actions>
    <button mat-button routerLink="/launches" class="launch-details-btn">Back to List</button>
  </mat-card-actions>
</mat-card>
}