<ng-container>
  @if (launchesIsLoading()) {
  <div class="spinner-container">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  } @else if (launches()) {
  <div class="all-launches">
    <mat-grid-list [cols]="gridCols" rowHeight="458px" [gutterSize]="'24px'">
      <mat-grid-tile *ngFor="let launch of launches()!" [colspan]="1" [rowspan]="1">
        <app-card-layout [launch]="launch" class="all-launches-card" />
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  } @else if (launchesError()) {
  <div class="all-launches-full-screen">
    <h2>{{errorMsg}}</h2>
  </div>
  }
</ng-container>