<ng-container>
  @if (launchPadsIsLoading()) {
  <div class="spinner-container">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  } @else if (launchPads()) {
  <div class="all-launchpads">
    <mat-grid-list [cols]="gridCols" rowHeight="458px" [gutterSize]="'24px'">
      @for (pad of launchPads(); track pad.id) {
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <app-card-layout class="all-launchpads-card">
          <span card-title>{{ pad.name || 'Unnamed' }}</span>
          <span card-subtitle>{{ pad.full_name || 'No full name' }}</span>
          <span card-img>
            <img mat-card-image [src]="pad?.images?.large?.[0] || 'assets/icons/launchpad.jpg'"
              alt="{{ pad.name || 'Unnamed Launch Pad' }}" />
          </span>
          <span card-description>
            Location: {{ pad.locality || 'Unknown' }}, {{ pad.region || 'Unknown' }}<br />
            Coordinates: {{ pad.latitude ?? 'N/A' }}, {{ pad.longitude ?? 'N/A' }}<br />
            Landings: {{ pad.landing_successes }}/{{ pad.landing_attempts }}
          </span>
          <span card-upcoming [ngClass]="getLaunchPadStatusClass(pad.status)">
            {{ pad.status | titlecase }}
          </span>
          <span card-action>
            <app-button color="primary" size="large" variant="outline" icon="search" iconPosition="start"
              ariaLabel="voir les détails" (click)="goToLaunchPadDetails(pad.id)">
              Voir les détails
            </app-button>
          </span>
        </app-card-layout>
      </mat-grid-tile>
      }
    </mat-grid-list>
  </div>
  } @else if (launchPadsError()) {
  <div class="all-launchpads-full-screen">
    <h2>{{ errorMsg }}</h2>
  </div>
  }
</ng-container>