<div class="search-capsules">
  <div class="search-page" [ngClass]="{ 'full-height': searchCapsulesList().length > 0 }">
    <div class="search-container">
      <mat-form-field appearance="outline" class="search-input" hideRequiredMarker>
        <input matInput type="text" placeholder="Entrez le nom ou ID de la capsule" [(ngModel)]="searchTerm"
          (keyup.enter)="onSearch()">
        <button matSuffix mat-icon-button aria-label="Search" (click)="onSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    @if(searchCapsulesList().length > 0) {
    <div class="results-container">
      @for(capsule of searchCapsulesList(); track capsule.id){
      <app-search-card-layout [capsuleInfo]="capsule" />
      }
    </div>
    }

    @if(searchCapsulesIsLoading()) {
    <div class="spinner-container">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
    }

    @if(!searchCapsulesIsLoading() && showNoResultsMessage()) {
    <div class="no-results-message">
      <p>Aucun résultat trouvé pour "{{ lastCompletedSearchTerm() }}"</p>
    </div>
    }

    @if(searchCapsulesError()) {
    <div>
      <p class="error">Une erreur est survenue : {{ searchCapsulesErrorMessage() }}</p>
    </div>
    }

    <app-pagination-layout [hasData]="searchCapsulesList().length > 0" [isPrevButtonVisible]="shouldShowPrevButton()"
      [isNextButtonVisible]="shouldShowNextButton()" (previousClicked)="prevPage()" (nextClicked)="nextPage()" />
  </div>
</div>