<div class="search-layout">
  <div class="search-page" [ngClass]="{ 'full-height': list().length > 0 }">
    <div class="search-container">
      <mat-form-field appearance="outline" class="search-input" hideRequiredMarker>
        <input matInput type="text" [placeholder]="placeholder" [(ngModel)]="searchTerm" (keyup.enter)="onSearch()">
        <button matSuffix mat-icon-button (click)="onSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    @if(list().length > 0){
    <ng-container>
      <div class="results-container">
        <ng-container *ngFor="let item of list()">
          <ng-container *ngComponentOutlet="cardComponent; injector: createInjector(item)">
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
    }
    @else if(isLoading()){
    <div class="spinner-container">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
    }@else if(showNoResultsMessage()){
    <div class="no-results-message">
      Aucun résultat trouvé pour "{{ lastCompletedSearchTerm() }}"
    </div>
    }@else if(error()){
    <div class="error">
      Une erreur est survenue : {{ error()?.message || 'Erreur inconnue' }}
    </div>
    }
    <app-pagination-layout [hasData]="list().length > 0" [isPrevButtonVisible]="currentPage > 1"
      [isNextButtonVisible]="currentPage < totalPages" (previousClicked)="prevPage()" (nextClicked)="nextPage()" />
  </div>
</div>