<ng-container>
  @if(capsulesIsLoading()){
  <div>
    <div class="spinner-container">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  </div>
  }
  @else if(!capsulesIsLoading() && capsules().length > 0){
  <div>
    <div class="all-capsules">
      <mat-grid-list [cols]="gridCols" rowHeight="600" [gutterSize]="'24px'">
        @for(capsule of capsules(); track capsule.id){
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <app-card-layout class="all-capsules-card">
            <span card-title>{{capsule.serial}} <span> {{capsule.type}}</span></span>
            <div card-img class="all-capsules-card-stats-container">
              <span class="all-capsules-card-stats">Reused {{capsule.reuse_count}} times</span>
              <span class="all-capsules-card-stats"> {{capsule.water_landings}} water landings</span>
              <span class="all-capsules-card-stats"> {{capsule.land_landings}} land landings</span>
              <div class="rocket-launch">
                <span class="all-capsules-card-stats">Launch:</span>
                <mat-icon (click)="goToLaunchDetails(capsule.launches[0])">rocket_launch</mat-icon>
              </div>
            </div>
            <span card-description>
              {{ capsule.last_update || 'Aucune description disponible' | slice: 0:100 }}...
            </span>
            <span card-upcoming [ngClass]="getCapsuleStatusClass(capsule.status)">
              {{ capsule.status | titlecase }}
            </span>
            <span card-action>
              <app-button card-upcoming color="primary" size="large" variant="outline" icon="search" iconPosition="end"
                [disabled]="false" ariaLabel="Voir le détail" [active]="capsule.status"
                (click)="goToCapsuleDetails(capsule.id)">
                Voir le détail
              </app-button>
            </span>
          </app-card-layout>
        </mat-grid-tile>
        }
      </mat-grid-list>
    </div>
  </div>
  }
  @else if(capsulesError()){
  <div>
    <div class="all-capsules-full-screen">
      <h2>Problème survenu lors de la récupération des capsules</h2>
    </div>
  </div>
  }
</ng-container>