<ng-container>
  @if (capsulesIsLoading()) {
  <div class="spinner-container">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  } @else if (capsules()) {
  <div class="all-capsules">
    <mat-grid-list [cols]="gridCols" rowHeight="458px" [gutterSize]="'24px'">
      <mat-grid-tile *ngFor="let capsule of capsules()" [colspan]="1" [rowspan]="1">
        <app-card-layout class="all-capsules-card">
          <span card-title>{{capsule.serial}} <span> {{capsule.type}}</span></span>
          <div card-img class="all-capsules-card-stats-container">
            <span class="all-capsules-card-stats">Reused {{capsule.reuse_count}} times</span>
            <span class="all-capsules-card-stats"> {{capsule.water_landings}} water landings</span>
            <span class="all-capsules-card-stats"> {{capsule.land_landings}}land landings</span>
            <div class="all-capsules-card-stats-rocket-launch">
              <span class="all-capsules-card-stats-rocket-launch-text">Launche:</span>
              <mat-icon>rocket_launch</mat-icon>
            </div>
          </div>
          <span card-description>
            {{ capsule.last_update || 'Aucune description disponible' | slice: 0:100 }}...
          </span>
          <span card-upcoming [ngClass]="getCapsuleClass(capsule.status)">
            {{ capsule.status }}
          </span>
        </app-card-layout>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  } @else if (capsulesError()) {
  <div class="all-capsules-full-screen">
    <h2>{{errorMsg}}</h2>
  </div>
  }
</ng-container>