@let capsuleDetails = capsuleInfo();
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ capsuleDetails.serial }}</mat-card-title>
    <mat-card-subtitle>{{ capsuleDetails.type }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p><strong>Reuse count :</strong> {{ capsuleDetails.reuse_count }}</p>
    <p><strong>Water landings :</strong> {{ capsuleDetails.water_landings }}</p>
    <p><strong>Land landings :</strong> {{ capsuleDetails.land_landings || 'Aucun détail disponible.' }}</p>
    <p><strong>Last update :</strong> {{ capsuleDetails.last_update || 'Inconnu' }}</p>
    <p><strong>First Launch:</strong> {{ capsuleDetails.launches[0] }}</p>
    <p><strong>Status :</strong> {{ capsuleDetails.status }}</p>
  </mat-card-content>

  <mat-card-actions>
    <app-button card-upcoming color="primary" size="large" variant="outline" icon="arrow_back" iconPosition="start"
      [disabled]="false" ariaLabel="Retour à la liste" [active]="capsuleDetails.status" (click)="goBack()">
      Retour à la liste
    </app-button>
  </mat-card-actions>
</mat-card>