<mat-card class="search-card">
  <mat-card-title>{{ capsuleInfo().serial }}</mat-card-title>
  <mat-card-subtitle>{{ capsuleInfo().type }}</mat-card-subtitle>
  <mat-card-content>
    <div class="search-card-info-line"><strong>Reuse count:</strong> {{ capsuleInfo().reuse_count }}</div>
    <div class="search-card-info-line"><strong>Water landings:</strong> {{ capsuleInfo().water_landings }}</div>
    <div class="search-card-info-line"><strong>Status:</strong> {{ capsuleInfo().status }}</div>
    <div class="search-card-info-line"><strong>Update:</strong> {{ capsuleInfo().last_update }}</div>
  </mat-card-content>
</mat-card>