@let dragon = dragonInfo();

@if (dragon) {
<div class="dragon-details">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="dragon-avatar"></div>
      <mat-card-title>{{ dragon.name }}</mat-card-title>
      <mat-card-subtitle>{{ dragon.type }}</mat-card-subtitle>
    </mat-card-header>

    <img [src]="dragon.flickr_images?.[0] || 'assets/icons/dragon.jpg'" alt="{{ dragon.name }}" class="dragon-image" />

    <mat-card-content>
      <p><strong>Status:</strong> <span [ngClass]="dragon.active ? 'color-success':'color-neutral'">{{ dragon.active ?
          'Active' :
          'Inactive' }}</span></p>
      <p><strong>Crew Capacity:</strong> {{ dragon.crew_capacity }}</p>
      <p><strong>Orbit Duration (years):</strong> {{ dragon.orbit_duration_yr }}</p>
      <p><strong>Dry Mass:</strong> {{ dragon.dry_mass_kg }} kg / {{ dragon.dry_mass_lb }} lb</p>
      @if(dragon.first_flight){
      <p><strong>First Flight:</strong> {{ dragon.first_flight }}</p>
      }


      <div class="section">
        <h3>Heat Shield</h3>
        <p><strong>Material:</strong> {{ dragon.heat_shield.material }}</p>
        <p><strong>Size:</strong> {{ dragon.heat_shield.size_meters }} m</p>
        @if(dragon.heat_shield.temp_degrees){
        <p><strong>Max Temp:</strong> {{ dragon.heat_shield.temp_degrees }} °C </p>
        }
        @if(dragon.heat_shield.dev_partner){
        <p><strong>Partner:</strong> {{ dragon.heat_shield.dev_partner }}</p>
        }
      </div>
      @if(dragon.height_w_trunk || dragon.diameter){
      <div class="section">
        <h3>Dimensions</h3>
        @if(dragon.height_w_trunk){
        <p><strong>Height (with trunk):</strong> {{ dragon.height_w_trunk.meters }} m / {{
          dragon.height_w_trunk.feet }} ft</p>
        }@if(dragon.diameter){
        <p><strong>Diameter:</strong> {{ dragon.diameter.meters }} m / {{ dragon.diameter.feet
          }} ft</p>
        }
      </div>
      }
      @if(dragon.trunk){
      <div class="section">
        <h3>Trunk</h3>
        @if(dragon.trunk.trunk_volume){
        <p><strong>Volume:</strong> {{ dragon.trunk.trunk_volume.cubic_meters }} m³ /
          {{ dragon.trunk.trunk_volume.cubic_feet }} ft³</p>
        }
        @if(dragon.trunk.cargo){
        <p>
          <strong>Solar Arrays:</strong> {{ dragon.trunk.cargo.solar_array }}<br />
          <strong>Unpressurized Cargo:</strong> {{ dragon.trunk.cargo.unpressurized_cargo ? 'Yes' : 'No' }}
        </p>
        }
      </div>
      }
      @if(dragon.pressurized_capsule?.payload_volume){
      <div class="section">
        <h3>Pressurized Capsule</h3>
        <p><strong>Payload Volume:</strong> {{ dragon.pressurized_capsule?.payload_volume?.cubic_meters }} m³ / {{
          dragon.pressurized_capsule?.payload_volume?.cubic_feet }} ft³</p>
      </div>
      }
      @if(dragon.launch_payload_mass || dragon.return_payload_mass){
      <div class="section">
        <h3>Payloads</h3>
        @if(dragon.launch_payload_mass ){
        <p><strong>Launch Payload:</strong> {{ dragon.launch_payload_mass.kg || 'Unknown'}} kg /
          {{ dragon.launch_payload_mass.lb || 'Unknown' }} lb</p>
        }
        @if(dragon.return_payload_mass){
        <p><strong>Return Payload:</strong> {{ dragon.return_payload_mass.kg || 'Unknown'}} kg /
          {{ dragon.return_payload_mass.lb || 'Unknown' }} lb</p>
        }
      </div>
      }
      @if(dragon.description){
      <p><strong>Description:</strong> {{ dragon.description }}</p>
      }
    </mat-card-content>

    <mat-card-actions>
      <app-button card-upcoming color="primary" size="large" variant="outline" icon="article" iconPosition="end"
        [disabled]="!dragon.wikipedia" ariaLabel="Lien Wikipédia" (click)="openWikipedia(dragon.wikipedia ?? '')">
        Wikipedia
      </app-button>
      <app-button card-upcoming color="primary" size="large" variant="outline" icon="arrow_back" iconPosition="start"
        [disabled]="!dragon.wikipedia" ariaLabel="boutton retour" (click)="goBack()">
        Retour à la liste
      </app-button>
    </mat-card-actions>
  </mat-card>
</div>
}