<!-- @let l = this.launch(); -->
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <!--       {{ l.name }} -->
      <ng-content select="[card-title]"></ng-content>
    </mat-card-title>
    <mat-card-subtitle>
      <!--       {{ l.date_utc | date:'dd/MM/yyyy HH:mm:ss' }} -->
      <ng-content select="[card-sub-title]"></ng-content>
    </mat-card-subtitle>
  </mat-card-header>

  <div class="image-container">
    <ng-content select="[card-img]"></ng-content>
    <!--     <img mat-card-image [src]="l.links?.patch?.large || 'assets/icons/spacex-default-img.jpg'" alt="{{ l.name }}"> -->
  </div>

  <mat-card-content>
    <p class="description">
      <ng-content select="[card-description]"></ng-content>
      <!--       {{ l.details || 'Aucune description disponible' | slice: 0:100 }}... -->
    </p>


    <p>Status:
      <!--       <span class="status" [ngClass]="{
        'upcoming': l.upcoming,
        'successful': l.success
      }"> -->
      <ng-content select="[card-upcoming]"></ng-content>
      <!--         {{ l.upcoming ? 'À venir' : 'Terminé' }} -->
      <!--       </span> -->
    </p>
  </mat-card-content>

  <mat-card-actions>
    <ng-content select="[card-action]"></ng-content>
    <!--     <a mat-button disabled={{!l.links?.article}} [href]="l.links?.article" target="_blank">
      {{l.links?.article ?
      'Regarder l"article' :"Pas
      d'article"}}
    </a> -->
  </mat-card-actions>
</mat-card>