<ng-container>
  @if (dragonsIsLoading()) {
  <div class="spinner-container">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  } @else if (dragons()) {
  <div class="all-dragons">
    <mat-grid-list [cols]="gridCols" rowHeight="458px" [gutterSize]="'24px'">
      @for(dragon of dragons()!; track dragon.id){
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <app-card-layout class="all-dragons-card">
          <span card-title>{{dragon.name}} {{dragon.type}}</span>
          <span card-subtitle>{{dragon.first_flight | date:'dd/MM/yyyy HH:mm:ss'}}</span>
          <span card-img><img mat-card-image
              [src]="dragon.flickr_images && dragon.flickr_images.length ? dragon.flickr_images[0] : 'assets/icons/spacex-default-img.jpg'"
              alt="{{ dragon.name }}" /></span>
          <span card-description> {{ dragon.description || 'Aucune description disponible' | slice: 0:100}}...
          </span>
          <span card-upcoming [ngClass]="dragon.active ? 'success-color' : 'neutral-color'">
            {{ dragon.active ? 'Upcoming' : 'Completed' }}
          </span>
          <span card-action>
            <app-button card-upcoming color="primary" size="large" variant="outline" icon="search" iconPosition="end"
              [disabled]="!dragon.wikipedia" ariaLabel="boutton retour" (click)="goToDragonDetails(dragon.id)">
              Voir le détail
            </app-button>
          </span>
        </app-card-layout>
      </mat-grid-tile>
      }

    </mat-grid-list>
  </div>
  } @else if (dragonsError()) {
  <div class="all-dragons-full-screen">
    <h2>{{errorMsg}}</h2>
  </div>
  }
</ng-container>