<div>
  @for(item of sectionItems; track $index){
  <div class="home-section">
    <span [ngClass]="'home-section-background home-section-background-' + item.category" role="img"> </span>
    <div class="home-section-inner-content">
      <div class="home-section-inner-content-left-bottom">
        <p class="home-section-inner-content-left-bottom-animate"> {{item.subtitle}} </p>
        <h2> {{item.title}}</h2>
        <a class="home-section-inner-content-left-bottom-animate-button btn">
          <div class="btn-hover"> </div><span class="btn-text">{{item.textButton}}</span>
        </a>
      </div>
    </div>
  </div>
  }
</div>